<mat-form-field class="w-100 ng-touched"
                appearance="outline"
                [class.input-invalid]="!disabled && fieldValidations?.hasError">
  <mat-label>{{label}}</mat-label>
  <input matInput
         autocomplete="off"
         type="text"
         [ngClass]="inputCssClass ? inputCssClass : ''"
         [name]="name? name:''"
         [(ngModel)]="value"
         (ngModelChange)="updateChanges()"
         (blur)="onBlur()"
         [minlength]="minlength?minlength:''"
         [maxlength]="maxlength?maxlength:''"
         [disabled]="disabled"/>
  <input-error-message [fieldValidations]="fieldValidations"></input-error-message>
</mat-form-field>
