<ng-container *ngIf="_disabled">
  <div #divNo *ngIf="!isActive" style="height:17px; width: 100px;" [ngClass]="{'mat-input-element':true, 'disabled': _disabled }">
    {{numberValue | number}}</div>
</ng-container>
<ng-container *ngIf="!_disabled">
  <div #divNo *ngIf="!isActive" style="height:17px; width: 100px;" (click)="onFocus()"
    [ngClass]="{'disabled': _disabled }">{{numberValue | number}}</div>
  <!-- <input *ngIf="!isActive" type="text" [value]="numberValue | number" (click)="onFocus()"
  [disabled]="!isEditing"> -->
  <input #inputNo *ngIf="isActive" [focus]="isActive" matInput type="text" [(ngModel)]="inputNumber" [required]="required"
    (blur)="lostFocus()" [ngClass]="{'text-changed': changed }" style="height:17px;" [disabled]="_disabled">
</ng-container>