<mat-form-field appearance="outline"
                class="w-100"
                [class.mat-form-field-invalid]="!disabled && fieldValidations?.hasError">
  <mat-label>{{label}}</mat-label>
  <input #datePickerInput
         matInput
         [matDatepicker]="datePicker"
         [name]="name"
         [(ngModel)]="value"
         (ngModelChange)="updateChanges()"
         (blur)="onBlur()"
         (keyup.enter)="datePickerInput.blur()"
         [disabled]="disabled">
  <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
  <mat-datepicker #datePicker [disabled]="disabled"></mat-datepicker>
  <input-error-message *ngIf="!disabled" [fieldValidations]="fieldValidations"></input-error-message>
</mat-form-field>
