input-radio-toggle .mat-form-field-underline {
  display: none;
}

input-radio-toggle div > mat-radio-button:first-child {
  margin-right: 5px;
}

input-radio-toggle .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  margin: 0;
  -webkit-transform: translateY(-0.8125em) scale(.75) perspective(100px) translateZ(.001px);
  transform: translateY(-0.8125em) scale(.75) perspective(100px) translateZ(.001px);
  -ms-transform: translateY(-0.8125em) scale(.75);
}