input-radio .mat-form-field--no-underline .mat-form-field-underline {
  background-color: transparent;
  height: 0;
}

input-radio .mat-form-field-infix {
  border: 0;
  padding-top: 0 !important;
}

input-radio {
  display: block;
  margin-top: 1em !important;
}
