<mat-form-field class="mat-form-field--no-underline w-100"
                 [class.input-invalid]="!disabled && fieldValidations?.hasError"
                (click)="checkDisabled($event)">
  <mat-label *ngIf="!labelTpl">{{label}}</mat-label>
  <mat-label *ngIf="labelTpl">
    <ng-container *ngTemplateOutlet="labelTpl"></ng-container>
  </mat-label>
  <input matInput
         #input
         value="xxx"
         autocomplete="off"
         class="d-none">
  <div [classList]="radioCssClass? radioCssClass: ''">
    <ng-content></ng-content>
  </div>
  <input-error-message [fieldValidations]="fieldValidations"></input-error-message>
</mat-form-field>
