<mat-form-field class="w-100"
                appearance="outline"
                [class.mat-form-field-invalid]="!disabled && fieldValidations?.hasError">
  <mat-label>{{label}}</mat-label>
  <textarea matInput
            autocomplete="off"
            [name]="name"
            type="text"
            [(ngModel)]="value"
            (ngModelChange)="updateChanges()"
            (blur)="onBlur()"
            [disabled]="disabled">
  </textarea>
  <input-error-message *ngIf="!disabled" [fieldValidations]="fieldValidations"></input-error-message>
</mat-form-field>
