<mat-form-field class="w-100"
                appearance="outline"
                [class.input-invalid]="!disabled && fieldValidations?.hasError">
  <mat-label>{{label}}</mat-label>
  <div style="display: flex;flex-direction: row">
    <input matInput
           [name]="name"
           type="number"
           [min]="min"
           [max]="max"
           [step]="step"
           [(ngModel)]="value"
           [pattern]="pattern"
           (keydown)="keyPressHandle($event)"
           (ngModelChange)="updateChanges()"
           (blur)="onBlur()"
           [disabled]="disabled"/>
    <input-error-message [fieldValidations]="fieldValidations"></input-error-message>
  </div>
</mat-form-field>
<mat-slider class="w-100"
            *ngIf="hasSlider"
            [disabled]="disabled"
            [min]="min"
            [max]="max"
            [step]="step"
            [thumbLabel]="thumbLabel"
            [tickInterval]="tickInterval"
            [(ngModel)]="value"
            [ngModelOptions]="{standalone: true}">
</mat-slider>
<div class="limit-text" *ngIf="hasLimitText">
  {{max}}
</div>
