<mat-form-field class="w-100"
                appearance="outline"
                [class.mat-form-field-invalid]="!disabled && fieldValidations?.hasError">
  <input matInput placeholder="Input" autocomplete="off" style="display: none">
  <mat-slide-toggle
    class="example-margin"
    [color]="color"
    [checked]="value"
    (change)="updateChanges($event)"
    [disabled]="disabled">
    <mat-label>{{label}}</mat-label>
  </mat-slide-toggle>
  <input-error-message *ngIf="!disabled" [fieldValidations]="fieldValidations"></input-error-message>
</mat-form-field>
